#response, #buttons{
    display: flex;
    align-items: center;
}

#response{
    background-color: var(--cor3);
    width: 85%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}


#created-password{
    overflow-y: hidden;
    width: 75%;
    padding-bottom: 3px;
}
#created-password::-webkit-scrollbar{
    background-color: #495A79;
    border-radius: 10px;
    height: 5px;
}
#created-password::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #ccc;
}

#buttons{
    width: 25%;
}

#checkboxes{
    width: 85%;
    padding: 5px;
    border: 1px solid var(--cor4);
}

#iLength{
    outline: none;
    width: 20%;
}