main{
    justify-content: flex-start;
    overflow-y: scroll;
    border-radius: 10px 5px 5px 10px;
    padding: 10px 0 10px 0;
}
main::-webkit-scrollbar{
    background-color: #495A79;
    border-radius: 10px;
    width: 5px;
}
main::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #ccc;
}

.password-saved{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 35px;
    padding: 3px;
    border-radius: 8px;
    background-color: var(--cor3);
    margin: 4px 0 4px 0;
}